@model MCTS_MNT.EntityDataModel.MNT_TBAD

@{
    ViewBag.Title = "AddBadge";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddBadge</h2>

@using (Html.BeginForm()) 
{
    @*@Html.AntiForgeryToken()*@
    
    <div class="form-horizontal">
        <h4>MNT_TBAD</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.BADGE, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BADGE, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BADGE, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />&nbsp;&nbsp;  @Html.ActionLink("Cancel", "Index", "Home")
            </div>
        </div>
    </div>
}

